// 白から黒(無彩色)

.w{
  background-color: white;
}
.c-w{
  fill: white;
  color: white;
}

.ltGy{
  background-color: lightgrey;
}
.c-ltGy{
  fill: lightgrey;
  color: lightgrey;
}

.dkGy{
  background-color: darkgray;
}
.c-dkGy{
  fill: darkgray;
  color: darkgray;
}

.Bk{
  background-color: black;
}
.c-Bk{
  fill :black;
  color: black;
}

// 他の色
.btn0{
  background-color: white;
}
.btn1 {
  background-color: #EE0026;
}   
.btn2 {       
  background-color:#FE4118;
}
.btn3 {
  background-color: #FF7F00;
}
.btn4 {
  background-color: #FFE600;
}
.btn5 {
  background-color: #99CF15;
}
.btn6 {
  background-color: #33A23D;
}
.btn7 {
  background-color: #008678;
} 
.btn8 {
  background-color: #055D87;
}
.btn9 {
  background-color: #0F218B;
}
.btn10 {
  background-color: #281285;
} 
.btn11 {
  background-color: #56007D;
}
.btn12 {
  background-color: #AF0065;
}
.btn13{
  background-color: black;
}
