.circle {
  position: relative;

}

div.item {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: w0px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

div.sub-item {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: w0px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.tone-margin{
  margin-top: 280px;
}

.sub-margin{
  margin-bottom: 280px;
}

.radio-inline__input {
  clip: rect(1px,1px,1px,1px);
  position: absolute !important;
}

#tone-group{
  overflow: hidden;
}

.tone{
  float: left;
  margin: 1px;
}

.maru{
  color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.maru:hover{
  color: transparent;
}

.radio-inline__label {
  color: transparent;
  border-radius: 50%;
}

.radio-inline__label:hover {
  color: transparent;
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: goldenrod;
  outline-offset: -2px;
  outline-style: inset;
  outline-width: 3px;
}


.category-group{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.category-radio-input{
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.category-radio-label{
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 13px;
  border-radius: 3px;
  transition: all .2s;
  background-color:#CAB2D6;
}

.category-radio-input:checked + .category-radio-label {
  background: #232166;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.category-radio-input:checked +.category-radio-label svg{
  fill: white;
}

.category-radio-input:focus +.category-radio-label svg{
  fill: white;
}
.category-radio-input:focus + .category-radio-label {
  outline-color: white;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.season-group{
  display:flex;
	flex-wrap: wrap;
  flex-direction:row;
}

.season-check {
  display:none;
}

.season-label {
	display: block;
	flex-wrap: wrap;
  position: relative;
  margin: 10px;
  padding: 15px 30px 15px 62px;
  border: 3px solid #fff;
  border-radius: 30px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

.season-label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

.season-label:hover, .season-check:focus + .season-label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.season-check:checked + .season-label {
  background-color: #ab576c;
}
