// Place all the styles related to the outfits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container{
  display: flex;
  flex-wrap: wrap;
}
.outfit-item{
  background-color: #eeebe7;
}
.hid{
  display:none;
}
.nonline{
  text-decoration: none;
  color: black;
}

.always-text{
  color: darkslategrey;
}

.spring-el{
  color:pink;
}

.summer-el{
  color: rgb(104, 176, 215);
}

.autum-el{
  color: rgb(112, 29, 29);
}

.winter-el{
  color: blue;
}

.season-icons{
  display: flex;
  flex-wrap: wrap;
}

.interval{
  height: 20px;
}

.edit-link{
  position: absolute;
  bottom:5px;
}

.image-size{
  width: 90%;
  height: auto;
}