.prefecture-select {
  overflow: hidden;
  width: 90%;
  margin: 2px auto;
  text-align: center;
}
.prefecture-select select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 10px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.prefecture-select select::-ms-expand {
    display: none;
}
.prefecture-select {
  position: relative;
  border: 2px solid #ced4da;
  background: #ffffff;
}
.prefecture-select::before {
  position: absolute;
  top: 1em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(97, 65, 11, 0.392);
  pointer-events: none;
}
.prefecture-select select {
  padding: 8px 38px 8px 8px;
  color: black;
}
