// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v10{
  background-color:#281285;
}
.c-v10{
  fill:#281285;
  color:#281285;
}

.b10{
  background-color: #6964AD;
}
.c-b10{
  fill: #6964AD;
  color: #6964AD;
}

.dp10{
  background-color:#232166;
}
.c-dp10{
  fill:#232166;
  color:#232166;
}

.sf10{
  background-color:#5D5791;
}
.c-sf10{
  fill:#5D5791;
  color:#5D5791;
}

.d10{
  background-color:#3A367B;
}
.c-d10{
  fill:#3A367B;
  color:#3A367B;
}

.p10{
  background-color:#B2B6D8;
}
.c-p10{
  fill:#B2B6D8;
  color:#B2B6D8;
}

.dkg10{
  background-color:#282430;
}
.c-dkg10{
  fill:#282430;
  color:#282430;
}