// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v11{
  background-color:#56007D;
}
.c-v11{
  fill:#56007D;
  color:#56007D;
}

.b11{
  background-color: #A45AAA;
}
.c-b11{
  fill: #A45AAA;
  color: #A45AAA;
}

.dp11{
  background-color:#531460;
}
.c-dp11{
  fill:#531460;
  color:#531460;
}

.sf11{
  background-color:#8C5588;
}
.c-sf11{
  fill:#8C5588;
  color:#8C5588;
}

.d11{
  background-color:#5E3179;
}
.c-d11{
  fill:#5E3179;
  color:#5E3179;
}

.p11{
  background-color:#CAB2D6;
}
.c-p11{
  fill:#CAB2D6;
  color:#CAB2D6;
}

.dkg11{
  background-color:#2E2A31;
}
.c-dkg11{
  fill:#2E2A31;
  color:#2E2A31;
}