// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v4{
  background-color:#FFE600;
}
.c-v4{
  fill:#FFE600;
  color:#FFE600;
}

.b4{
  background-color: #FFF231;
}
.c-b4{
  fill: #FFF231;
  color: #FFF231;
}

.dp4{
  background-color:#A38204;
}
.c-dp4{
  fill:#A38204;
  color:#A38204;
}

.sf4{
  background-color:#CCBA48;
}
.c-sf4{
  fill:#CCBA48;
  color:#CCBA48;
}

.d4{
  background-color:#997F42;
}
.c-d4{
  fill:#997F42;
  color:#997F42;
}

.p4{
  background-color:#FFFFB3;
}
.c-p4{
  fill:#FFFFB3;
  color:#FFFFB3;
}

.dkg4{
  background-color:#46402C;
}
.c-dkg4{
  fill:#46402C;
  color:#46402C;
}
