// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v3{
  background-color:#FF7F00;
}
.c-v3{
  fill:#FF7F00;
  color:#FF7F00;
}

.b3{
  background-color: #FF9914;
}
.c-b3{
  fill: #FF9914;
  color: #FF9914;
}

.dp3{
  background-color:#A34A02;
}
.c-dp3{
  fill:#A34A02;
  color:#A34A02;
}

.sf3{
  background-color:#D89048;
}
.c-sf3{
  fill:#D89048;
  color:#D89048;
}

.d3{
  background-color:#B25938;
}
.c-d3{
  fill:#B25938;
  color:#B25938;
}

.p3{
  background-color:#FEE6AA;
}
.c-p3{
  fill:#FEE6AA;
  color:#FEE6AA;
}

.dkg3{
  background-color:#463B34;
}
.c-dkg3{
  fill:#463B34;
  color:#463B34;
}
