// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v6{
  background-color:#33A23D;
}
.c-v6{
  fill:#33A23D;
  color:#33A23D;
}

.b6{
  background-color: #33A65E;
}
.c-b6{
  fill: #33A65E;
  color: #33A65E;
}

.dp6{
  background-color:#2F6F41;
}
.c-dp6{
  fill:#2F6F41;
  color:#2F6F41;
}

.sf6{
  background-color:#66AC78;
}
.c-sf6{
  fill:#66AC78;
  color:#66AC78;
}

.d6{
  background-color:#5A804B;
}
.c-d6{
  fill:#5A804B;
  color:#5A804B;
}

.p6{
  background-color:#CCEBC5;
}
.c-p6{
  fill:#CCEBC5;
  color:#CCEBC5;
}

.dkg6{
  background-color:#24342D;
}
.c-dkg6{
  fill:#24342D;
  color:#24342D;
}
