// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v8{
  background-color:#055D87;
}
.c-v8{
  fill:#055D87;
  color:#055D87;
}

.b8{
  background-color: #1D86AE;
}
.c-b8{
  fill: #1D86AE;
  color: #1D86AE;
}

.dp8{
  background-color:#04436D;
}
.c-dp8{
  fill:#04436D;
  color:#04436D;
}

.sf8{
  background-color:#4F8B97;
}
.c-sf8{
  fill:#4F8B97;
  color:#4F8B97;
}

.d8{
  background-color:#1E6282;
}
.c-d8{
  fill:#1E6282;
  color:#1E6282;
}

.p8{
  background-color:#B3D7DD;
}
.c-p8{
  fill:#B3D7DD;
  color:#B3D7DD;
}

.dkg8{
  background-color:#283539;
}
.c-dkg8{
  fill:#283539;
  color:#283539;
}
