// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v2{
  background-color:#FE4118;
}
.c-v2{
  fill:#FE4118;
  color:#FE4118;
}

.b2{
  background-color: #FC4E32;
}
.c-b2{
  fill: #FC4E32;
  color: #FC4E32;
}

.dp2{
  background-color:#A41200;
}
.c-dp2{
  fill:#A41200;
  color:#A41200;
}

.sf2{
  background-color:#D77856;
}
.c-sf2{
  fill:#D77856;
  color:#D77856;
}

.d2{
  background-color:#B24443;
}
.c-d2{
  fill:#B24443;
  color:#B24443;
}

.p2{
  background-color:#FDCDB7;
}
.c-p2{
  fill:#FDCDB7;
  color:#FDCDB7;
}

.dkg2{
  background-color:#3A2C2A;
}
.c-dkg2{
  fill:#3A2C2A;
  color:#3A2C2A;
}
