// v（純色）、b,p（明清色）、dp,dkg（暗清色）、sf,d(中間色)の7種類に変更
// 1:v, 2:b, 3:dp, 4:sf, 5:d, 6:p, 7:dkg　の対応関係

.v7{
  background-color:#008678;
}
.c-v7{
  fill:#008678;
  color:#008678;
}

.b7{
  background-color: #1AA18E;
}
.c-b7{
  fill: #1AA18E;
  color: #1AA18E;
}

.dp7{
  background-color:#025965;
}
.c-dp7{
  fill:#025965;
  color:#025965;
}

.sf7{
  background-color:#4E9B86;
}
.c-sf7{
  fill:#4E9B86;
  color:#4E9B86;
}

.d7{
  background-color:#2A6B68;
}
.c-d7{
  fill:#2A6B68;
  color:#2A6B68;
}

.p7{
  background-color:#B3E2D8;
}
.c-p7{
  fill:#B3E2D8;
  color:#B3E2D8;
}

.dkg7{
  background-color:#253532;
}
.c-dkg7{
  fill:#253532;
  color:#253532;
}
