<div class="container vh-100 right-shadow">
  <div class="ml-33">
  <br>
    <div class="d-flex flex-column">
      <label class="">
        今日のおすすめコーデ
      </label>
    </div>
    <div class="d-flex flex-column">
      <label class="">
        明日以降のおすすめ
      </label>
    </div>
    <div class="d-flex flex-column">
      <label class="">
        クローゼット
      </label>
    </div>
    <div class="d-flex flex-column">
      <label class="">
        履歴
      </label>
    </div>
    <div class="d-flex flex-column">
      <label class="">
        予定
      </label>
    </div>
    <div class="d-flex flex-column">
      <label class="">
        最近着ていない服
      </label>
    </div>
    <div class="d-flex flex-column">
      <label class="">
        ユーザー編集
      </label>
    </div>
  </div>
</div>