<div class="container vh-100 right-shadow">
  <div class="ml-33">
  <br>
    <div class="d-flex flex-column m-1">
      <%= link_to home_path, class:"no-underline" do %>
        今日のおすすめコーデ
      <% end %>
    </div>
    <div class="d-flex flex-column m-1">
      <%= link_to week_path, class:"no-underline" do %>
        明日以降のおすすめ
      <% end %>
    </div>
    <div class="d-flex flex-column m-1">
        クローゼット
    </div>
    <div class="d-flex flex-column m-1">
        履歴
    </div>
    <div class="d-flex flex-column m-1">
        予定
    </div>
    <div class="d-flex flex-column m-1">
        最近着ていない服
    </div>
    <div class="d-flex flex-column m-1">
      <%= link_to mypage_users_path, class:"no-underline" do %>
        マイページ
      <% end %>        
    </div>

  </div>
</div>
